@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin flexCenter($flexDirection) {
  display: flex;
  align-items: center;
  flex-direction: $flexDirection;
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-xl-max {
  @media screen and (max-width: 1840px) {
    @content;
  }
}

@mixin media-med-max {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin media-sm-max {
  @media screen and (max-width: 900px) {
    @content;
  }
}
