@import "./variables";

.home-page-container {
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
  filter: grayscale(100%);
  background-image: url("../photos/lambo.png");

  .home-text-main {
    color: white;
  }

  .home-text-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: center;

    .white-box {
      background-color: white;
      height: 95vh;
      width: 25%;
      margin-left: 8rem;
      display: flex;
      flex-direction: column;

      #verify-text {
        color: rgb(66, 66, 66);
        margin-top: 50%;
        font-size: 3rem;
      }

      .underline:after {
        content: "";
        display: block;
        width: 20%;
        height: 4px;
        background-color: red;
      }
    }

    h1 {
      margin: 1rem;
      font-size: 8rem;
    }

    h3 {
      font-weight: 2;
      font-size: 3rem;
      margin: 1rem;
      color: rgb(66, 66, 66);
    }

    h4 {
      margin: 1rem;
      font-size: 2rem;
      color: rgb(66, 66, 66);
      font-weight: lighter;
    }

    span {
      margin: 1rem;
    }
  }
}
