@import "./home.scss";
@import "./config";
@import "./hamburgernav";

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "arial";
}

.hamburger-react {
  height: 0px !important;
  z-index: 5;
}
